/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 12px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: 0 20px;
}

.logo {
  font-size: 1.6rem;
  margin: 0;
}

.logo-image {
  margin: 6px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.logo-link {
  color: #fff;
  text-decoration: none;
}

.search-form {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: 0 20px;
  position: relative; /* Add this to position the search results */
}

.search-input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 100%;
  max-width: 400px;
}

.search-button {
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #333;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
  background-color: #333;
}

.signup {
  background-color: #4CAF50;
}

.signup:hover {
  background-color: #45a049;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-form {
    width: 100%;
    margin: 10px 0;
  }
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-button {
    margin: 5px 0;
  }
}

/* Additional Styles */

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  z-index: 1; /* Ensure it's above the search form */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer; /* Add a cursor to indicate clickable */
}

.search-result-item:hover {
  color: black;
  background-color: #f5f5f5;
}

.search-result-item:last-child {
  border-bottom: none;
}
.textd{
  color: black;
  text-decoration: none;
}