/* src/css/ProductDetailPage.css */
.product-details-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  max-width: 1200px; /* Added max-width for container */
  margin: 40px auto;
}

.product-details-product {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.product-details-container img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.quantity-select {
  margin-top: 10px;
}

.buy-product,
.additional-button {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 1; /* Adjusted width to fill container */
  margin-top: 10px;
  margin-right : 20px; /* Added margin top for spacing */
}

.buy-product:hover,
.additional-button:hover {
  background-color: #23527c;
}

.rating-feedback {
  margin-top: 20px;
}

.rating-feedback h3 {
  margin-bottom: 10px;
}

.feedback-section {
  margin-top: 20px;
}

.feedback-section textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-feedback {
  background-color: #ff9900;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-feedback:hover {
  background-color: #ff8c00;
}

/* Responsive design */
@media (max-width: 768px) {
  .product-details-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .product-details-product {
    padding: 10px;
  }
}
