.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
  }
  
  .splash-text {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    animation: fadeInOut 4s;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.8);
    }
  }
  